.DashboardMain-Main {
    background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}


.DashboardMain-Nav {
    width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  align-items: center;
  justify-content: center;
  color: crimson;
}

.DashboardMain-VideoQuickView {
    width: 40vw;
    height: 65vh;
    max-width: 100vw;
    max-height: 56.25vw;
}

.DashboardMain-Button {
    border: none;
  border-radius: 12px;
  color: black;
  width: calc(120px + 10vw);
  height: calc(6px + 6vh);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(16px + 0.6vh);
  margin: 1vh;
  cursor: pointer;
  background-color: red;
}

.DashboardMain-Body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.DashboardMain-Content {
  align-items: center;
    display: flex;
    flex-direction: column;
}